body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.25;
}

@media (max-width: 950px) {
    .alterar-tamanho {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
}

img {
    display: block;
    max-width: 100%;
}

p { 
    font-size: 1em;
    font-weight: 400;
    color: #032624;
}

* {
    box-sizing: border-box;
}

.padrao {
    max-width: 865px;
}


/*HEADER*/

.header {
    background: #F6F6F7;
}

.menu {
    display: flex;
    max-width: 1125px;
    margin: 0 auto;
    padding: 20px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo-menu, .botao-menu {
    margin: 10px 10px;
}

.logo-menu {
    max-width: 135px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav li {
    margin: 5px 10px;
}

.menu-nav a {
    color: #1C1C1D;
    text-decoration: none;
    font-size: 1.125em;
    font-weight: 500;
    display: block;
    padding: 15px 5px;
}

.botao-menu, .botao-contato {
    width: 215px;
    height: 40px;
    background: #10DFC2;
    color: white;
    font-size: 1.125em;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 475px) {
    .menu-nav ul {
        flex-direction: column;
        align-items: center;
    }
    .menu-nav a {
        padding: 5px;
    }
}

/*APRESENTAÇÃO*/

.apresentacao {
    width: 100%;
    min-height: 505px;
    background-image: url(Imagens/Background.png);
    background-size: 100% 100%;  
    margin: 0 auto; 
    border-top: 1px solid #707070;  
    border-bottom: 1px solid #707070;
}

.area-total-apresentacao {
    max-width: 915px;
    min-height: 305px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.area-apresentacao-1 {
    flex: 2 0 300px;
    max-width: 420px;
}

.logo-apresentacao {
    max-width: 65px;
    margin-bottom: 25px;
}

.texto-apresentacao h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: white;
    margin-bottom: 25px;
}

.texto-apresentacao p {
    flex: 1 0 250px;
    width: 290px;
    color: white;
    line-height: 2;
}

.area-apresentacao-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 305px;
}

.apresentacao-img-1 img {
    flex: 1 1 20px;
    
}

.apresentacao-img-2 img {
    flex: 1 0 300px;
}

@media (max-width: 500px) {
    .apresentacao {
        background-image: url("Imagens/Background-rotate.png");
        background-size: 100% 100%;
    }
    .area-total-apresentacao {
        justify-content: center;
    }
    .area-apresentacao-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .texto-apresentacao p {
        
        width: 100%;
    }
    .area-apresentacao-2 {
        width: 150px;
        height: 120px;
        justify-content: space-around;
    }
    .apresentacao-img-1 img {
        width: 50px;
    }
}

/*SOBRE*/

.sobre {
    max-width: 865px;
    display: flex;
    margin: 50px auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.texto-sobre {
    display: flex;
    max-width: 470px;
    height: 300px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.texto-sobre h1 {
    max-width: 310px;
    max-height: 80px;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 25px;
}

.texto-sobre p {
    max-width: 470px;
    height: 65px;
    font-size: 1em;
    text-align: left;
}

.texto-sobre b {
    font-weight: bold;
    font-size: 1em;
    margin-top: 15px;
}

.b-ciano {
    margin-top: 15px;
    font-weight: 600;
    color: #0EAFAC;
}

.sobre-img img {
    flex: 1 0 250px;
    min-height: 250px;
    max-height: 300px;
}

@media (max-width: 725px) {
    .sobre {
        flex-direction: column;
        align-items: center;
        min-height: 490px;
        justify-content: space-evenly;
    }
    .texto-sobre {
        align-items: center;
        text-align: center;
    }
    .texto-sobre p, .texto-sobre b {
        text-align: center;
    }
}

/*COMO FUNCIONA*/

.como-funciona {
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-como-funciona {
    max-width: 560px;
    margin-top: 50px;
}

.texto-como-funciona h1 {
    font-size: 2em;
    font-weight: 700;
    color: #0EAFAC;
    margin-bottom: 15px;
    text-align: center;
}

.texto-como-funciona p {
    text-align: center;
    height: 40px;
    font-size: 1em;
}

.texto-como-funciona b {
    font-weight: bold;
    font-size: 1em;
}

/*ETAPAS*/

.etapas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.etapas li {
    max-width: 260px;
    flex: 1 0 260px;
    height: 250px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #00000029;
    margin: 50px 15px;
}

.etapas img {
    flex: 1 0 250px;
    margin: 20px 0 25px 20px;
}

.etapas h2 {
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 15px;
}

.etapas p {
    justify-self: center;
    margin-left: 20px;
    margin-right: 25px;
}

/*INFORMAÇÕES*/

.informacoes {
    max-width: 865px;
    min-height: 730px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
}

@media (max-width: 475px) {
    .info-1, .info-2 {
        flex-direction: column;
    }
    .img-informacoes {
        align-self: flex-end;
    }
    .img-detalhes {
        align-self: flex-start;
    }
    .img-detalhes {
        order: -1;
    } 
}

/*REQUISITOS*/

.info-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: space-between;
}

.img-informacoes img {
    flex: 1 0 250px;
    max-width: 250px;
    min-height: 305px;
    justify-content: left;
}

.requisitos {
    max-width: 472px;
    flex: 2 0 300px;
    min-height: 220px;
    align-self: center;
}

.requisitos h1 {
    font-size: 2em;
    font-weight: bold;
    color: #0EAFAC;
    margin-bottom: 25px;
}

.requisitos h2 {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 15px;
}

.requisitos ul {
    max-width: 472px;
    min-height: 110px;
    line-height: 1.5;
}

/*DETALHES*/

.info-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.detalhes {
    max-width: 385px;
    flex: 2 0 300px;
    min-height: 235px;
    align-self: center;
}

.detalhes h1 {
    font-size: 2em;
    font-weight: bold;
    color: #0EAFAC;
    margin-bottom: 25px;
}

.detalhes h2 {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 15px;
}

.detalhes ul {
    max-width: 472px;
    min-height: 110px;
    line-height: 1.5;
}

.img-detalhes img {
    flex: 1 0 250px;
    max-width: 300px;
    min-height: 305px;
    justify-content: right;
}

/*NEWSLETTER*/

.newsletter-bg {
    min-height: 215px;
    background: #19DBD1;
    padding: 50px calc((100% - 865px) / 2);
    display: flex;
    flex-wrap: wrap;
}

.newsletter-info {
    flex: 2 0 300px;
    max-width: 565px;
}

.newsletter-info h1, .newsletter-info p {
    color: white;
    font-size: 1em;
}

.newsletter-info h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 15px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.newsletter-form p {
    font-weight: 600;
    color: white;
}

.newsletter-form input {
    width: 300px;
    height: 35px;
    border: none;
    background-color: white;
    border-radius: 10px;
}

.newsletter-form button {
    width: 100px;
    height: 35px;
    border: none;
    background-color: #FFB900;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

@media (max-width: 600px) {
    .newsletter-bg {
        justify-content: center;
        text-align: center;
    }
    .newsletter-info {
        margin-bottom: 15px;
    }
    .newsletter-form {
        align-items: center;
    }
    .newsletter-form input {
        margin: 10px 0;
    }
    .newsletter-form button {
        width: 150px;
    }
}

/*FOOTER*/

.footer {
    background: #04254C;
    padding: 50px calc((100% - 1125px) / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 300px;
    max-width: 420px;
    min-height: 260px;
}

.img-contato {
    width: 135px;
    height: 35px;
    margin-bottom: 35px;
}

.texto-contato {
    flex: 2;
}

.texto-contato b {
    color: white;
    font-weight: 600;
}

.texto-contato p {
    color: white;
    margin-top: 15px;
}

.botao-footer button {
    width: 180px;
    height: 35px;
    border: none;
    background-color: #FFB900;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 600;
    color: white;
    cursor: pointer;
    text-align: center;
}

.botao-footer button img {
    display: inline;
    margin: 0 15px;
}

/*SERVIÇOS*/

.servicos {
    max-height: 315px;
    flex-direction: column;
    align-items: flex-start;
}

.servicos h3 {
    color: white;
    font-size: 1.5em;
    font-weight: 600; 
    margin-bottom: 25px;
}

.servicos ul li p {
    color: white;
}

.servicos li + li {
    margin-top: 15px;
}

/*ENDEREÇOS*/

.localizacao {
    flex: 1 0 300px;
    max-width: 415px;
    min-height: 310px;
    flex-wrap: wrap;
}

.lista-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 415px;
    min-height: 310px;
}

.lista-info li {
    display: flex;
    max-width: 415px;
    justify-content: space-between;
    align-items: center;
}

.img-localizacao p {
    content: '';
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    padding: 15px 0;
}

.img-localizacao p img {
    width: 15px;
    height: 20px;
    margin: 0 auto;
}

.lista-info h4 {
    font-weight: 600;
    color: white;
    margin-bottom: 15px;
}

.endereco {
    width: 320px;
}

.info {
    color: white;
}

@media (max-width: 1150px) {
    .footer {
        padding: 50px 15px;
    }
}

@media (max-width: 450px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contato {
        align-items: center;
    }
    .texto-contato {
        text-align: center;
    }
    .servicos {
        width: 300px;
        margin: 30px auto;
        text-align: center;
        border-top: 2px solid #FFB900;
    }
    .servicos ul {
        border-bottom: 2px solid #FFB900;
    }
    .img-localizacao {
        display: none;
    }

}