body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
}

p {
    font-weight: 400;
    color: #032624;
}

.header {
    background: #F6F6F7;
}